<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <!-- <script>
        function test(){
            var text_data = $('#item_id').val();
            $.ajax({
                type:'POST',
                url: 'http://localhost:5000/_add_numbers',
                data:{
                    item_id:test_data
                },
                dataType:'JSON',
                sucess:function(result){
                    alert("result="+result);
                    $('#a').html(result);
                },
                error:function(xtr, status, error){
                    alert(xtr+":"+status+":"+error);
                }
            });
        }
    </script> -->
    <script type=text/javascript>
        $(function() {
          $('a#calculate').bind('click', function() {
            $.getJSON('http://127.0.0.1:5000/_add_numbers', {
              a: $('input[name="a"]').val(),
              b: $('input[name="b"]').val()
            }, function(data) {
              $("#result").text(data.result);
            });
            return false;
          });
        });
        </script>
        <h1>jQuery Example</h1>
        <p><input type=text size=5 name=a> +
            <input type=text size=5 name=b> =
            <span id=result>?</span>
        <p><a href=# id=calculate>calculate server side</a></p>

        <p><a href=# id=apitest>api testing</a></p>
        <span id="apitesting">?</span>
        <div id="testdiv">for testing</div>
        <button type="button" onclick="createFile()">파일 추가</button>

        <script>
            function createFile(){
                var newFileName = prompt("FileName: ");
                var div = document.createElement("DIV");
                div.innerHTML = newFileName;
                div.id = newFileName;
                document.getElementById("testdiv").appendChild(div);
                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:5000/api_test',
                    data: {},
                    success: function(){
                        $("#apitesting").text("성공");
                        alert("성공");
                    }
                })
            }
        </script>


<!-- 
function createFile(){
    var newFileName = prompt("FileName: ");
    var div = document.createElement("DIV");
    div.innerHTML = '<i class="far fa-file"></i>' + newFileName;
    div.id = newFileName;
    div.className = "File";
    div.onmouseover= function () {
        this.style.backgroundColor = "#efefef";
    };
    div.onmouseout = function () {
        this.style.backgroundColor = "#ffffff";
    };
    div.onclick = function(){
        // globalId = this.attr('id');
        globalId = this.getAttribute('id');
        // alert(globalId);
    };
    document.getElementById("defaultFolder").appendChild(div);
} -->

</body>
</html>