<!-- It has to provide drag and drop function at sidevar
It can load the codes that wrote priviously
It shows the list of codes that users have -->

{% extends "base.html" %}

{% block main %}

<div class="view full-page-intro">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row wow fadeIn">
                <h1>Here is for creating your own environment</h1>
                <p>You are on {{os}} and able to use {{language}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}