<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/complete", method="post">
        <p>code: {{code}}</p>
        id: <input type="text", name = "newId"><br>
        password: <input type="password", name ="newPassword"><br>
        firstname: <input type="text", name="firstName"><br>
        lastname: <input type="text", name="lastName"><br>
        email: <input type="email", name="newEmail"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>